/* Don't forget that media queries are required for this project */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");

.body {
  margin: 0;
}

/* Hero Image Buttons / Navigation Bar Buttons */
.backofnav {
  background-color: #44275d;
  padding: 5px 0px 5px 0px;
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-around;
  list-style: none;
}
.navinfo {
  color: white;
  font-size: large;
}
.logo {
  color: white;
  font-size: x-large;
}

.mainhero {
  background-color: #5b3d79;
  height: auto;
}
.herotext {
  font-family: "Poppins", sans-serif;
}

.herotextlogo {
  font-family: "Poppins", sans-serif;
}

/* 'Featured Destinations' Outside Box */
.fdest {
  background-color: #44275d;
  height: auto;
  padding: 70px;
  border-radius: 12px;
}

/* 'Featured Destinations' Outside Box Text */
.phead {
  color: white;
  font-size: 40px;
  display: flex;
  justify-content: center;
  font-family: "Poppins", sans-serif;
}

/* 'Featured Destinations' Text Inside Boxes */
.podium {
  display: flex;
  font-family: "Poppins", sans-serif;
  color: #fff;
  justify-content: space-between;
}

/* 'Featured Destinations' Inside Boxes */
.infosum {
  width: 31%;
  background-color: #5b3d79;
  height: 800px;
  text-align: center;
  border-radius: 12px;
}

.subhead {
}

.text {
}

.learnmore {
}

.aboutus {
}

.uinfo {
}

.topuinfo {
}

.bottomuinfo {
}

.footer {
  background-color: #44275d;
  display: flex;
  justify-content: space-between;
  padding: 25px;
}

.c {
}

.copyright {
  text-align: center;
  font-family: "Poppins", sans-serif;
}

.leftherocircle {
  height: 100px;
  width: 100px;
  background-color: #fff;
  border-radius: 50%;
  display: inline-block;
}


/* border-radius: 50%; "Makes An Object or image A Circle" */