/* media queries are required for this project */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap"); /* Poppins Font On Top Baby #1 */

* {
  font-family: "Poppins", sans-serif;
}

::-webkit-scrollbar /* Hides the scroll bar but still allows scrolling on website */ {
  display: none; /* Chrome, Safari, & OperaGX */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer, Edge */
}

p {
  margin: 0;
  text-decoration: none;
}

h2 {
  padding: 0px;
}

a:link,
a:visited {
  color: #fff;
  text-decoration: none;
}

a:hover {
  color: #efd33b;
  transition-duration: 0.5s;
}

body /* Controls All CSS Within The Body Tag */ {
  margin: 0;
  overflow-x: hidden;
}

button /* Controls All CSS Within The Button Tag */ {
  color: #44275d;
  border-radius: 12px;
  background: #efd33b;
  transition-duration: 0.5s;
}

button:hover {
  color: #2d193f;
  background: #ad9b30;
}

.about_section {
  background-color: white;
  margin: 25px;
}
.culture_section {
  background-color: white;
  margin: 25px;
}
.header {
  border-bottom: solid #efd33b;
  font-size: 25px;
}

.about_text_template {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.left_header {
    display: flex;
    margin-left: 5%;
    color: #5b3d79;
}
.right_header {
  display: flex;
  margin-left: 83%;
  color: #5b3d79;
}
.center_header {
  color: white;
  display: flex;
  justify-content: center;
}
.textbox p {
  color: white;
}
.textbox {
  padding-left: 15px;
  text-align: left;
  border-left: solid white;
  margin: 12px;
}
.about_textbox_border {
  width: 50%;
  background-color: #5b3d79;
  border: solid #44275d;
  border-radius: 12px;
  border-width: 12px;
}
.about_img_template {
  background-color: #5b3d79;
  border: solid #44275d;
  border-radius: 12px;
  border-width: 12px;
  width: 40%;
}
.img_border {
  border: solid #5b3d79;
  border-width: 12px;
}

.map_section {
  background-color: #5b3d79;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.history_section {
  background-color: #5b3d79;
  padding: 12px;
}
.map {
  border: solid white;
  border-width: 12px;
  border-radius: 12px;
  margin: 12px;
  display: flex;
  justify-content: center;
  height: fit-content;
  width: fit-content;
}

.history_info {
  background-color: white;
  border-radius: 12px;
  padding: 12px;
}
.history_img {
  width: 100%;
  border-radius: 12px;
}
.history_textbox {
  background-color: #dadada;
  padding: 12px;
  border-radius: 12px;
  margin-top: 10px;
}
.history_textbox_text {
  padding-left: 15px;
  text-align: left;
  border-left: solid #44275d;
  padding-left: 12px;
  color: #5b3d79;
}
.history_textbox_text p {
  color: #5b3d79;
}

.culture {
  display: flex;
  justify-content: space-around;
}
.circular #myImage {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.circular {
  border-radius: 50%;
}

/*
      ############################
      ##      Hero Banner      ### 
      ############################
*/

.back_of_navigation_bar /* Back Of Navigation Bar */ 
{
  padding: 5px 0px 5px 0px;
  background-color: #44275d;
}

.navigation_bar /* Navigation Bar Buttons Base Settings */ 
{
  display: flex;
  list-style: none;
  justify-content: space-around;
}

.navigation_bar_logo /* Navigation Bar Logo */ 
{
  color: #fff;
  font-size: 64px;
  text-align: center;
  padding: 0px 0px 15px 0px;
}

.navigation_button_aboutus /* Navigation Bar Button "About Us" */ 
{
  color: #fff;
  font-size: 45px;
  text-align: center;
  padding: 15px 0px 0px 0px;
}

.navigation_button_destinations /* Navigation Bar Button "Destinations" */ 
{
  color: #fff;
  font-size: 45px;
  text-align: center;
  padding: 15px 0px 0px 0px;
}

.main_hero_base /* Hero Banner Base */ 
{
  height: auto;
  background-color: #5b3d79;
}

.left_hero_circle /* Left Hero Banner Circle */ 
{
  width: 600px;
  height: 600px;
  border-radius: 50%;
  display: inline-block;
}

/*
      ############################
      ##   Information Footer  ### 
      ############################
*/

.information_footer_div /* Primary Div For The Information Footer */
{
  padding-bottom: 30px;
}

.information_footer /* Primary CSS For The Information Footer */ 
{
  padding: 25px;
  display: flex;
  background-color: #44275d;
  justify-content: space-around;
}

.information_footer_info /* Controls the Information Section Located In The Primary Footer */ 
{
  width: 18%;
  color: white;
  flex-wrap: wrap;
  font-size: 32px;
  text-align: left;
}

.information_footer_head /* Controls the Title Above The Content Located In The Footer */ 
{
  width: 18%;
  font-size: 42px;
  text-align: center;
  border-bottom: solid 3px #efd33b;;
  padding: 0px 0px 5px 0px;
}

.information_footer_content /* Controls the Content Section Beneath The Footer Head In The Primary Footer */ 
{
  width: auto;
  flex-wrap: wrap;
  text-align: left;
  padding: 0px 0px 12px 0px;
}

.information_footer_contact_text /* Controls The Text For The Company Contact Information */ 
{
  width: 100%;
  color: #fff;
  font-size: 20px;
  padding: 10px 0px 0px 15px;
}

.information_footer_image_placeholder_and_text /* Controls The Class That Holds The Footer Image Placeholders And Text */ 
{
  padding: 0px;
  display: flex;
}

/*
      ############################
      ##    Copyright Footer   ### 
      ############################
*/

.copyright_footer_text 
{
  margin: 25px;
  font-size: 30px;
  text-align: center;
}
