/* Don't forget that media queries are required for this project */
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;1,100;1,200&display=swap");

/* Hides the scroll bar but still allows scrolling on website */
element::-webkit-scrollbar {
  -ms-overflow-style: none; /* Internet Explorer, Edge *.
  scrollbar-width: none; /* Firefox */
  overflow-y: scroll;
  display: none; /* Chrome, Safari, & OperaGX */
}

/* Adding a css tag to the body tag effects all attributes inside of the body tag <body></body> */
body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Poppins", sans-serif;
}

/* Navigation Bar Background */
.backofnav {
  background-color: #44275d;
  padding: 5px 0px 5px 0px;
}

.nav {
  display: flex;
  list-style: none;
  justify-content: space-around;
}
/* Navigation Bar Buttons, "About Us" & "Destinations" */

.button {
  border-radius: 12px;
  background-color: #efd33b;
  color: #44275D;
  height: 50px;
  width: 200px;
  font-size: 25px;
}

.navinfo {
  color: white;
  font-size: 45px;
  text-align: center;
}

.logo {
  color: white;
  font-size: 64px;
  text-align: center;
}

.mainhero {
  height: auto;
  background-color: #5b3d79;
}

/* 'Featured Destinations' Outside Box */

.fdest {
  height: 1040px;
  background-color: #44275d;
}

/* header with white text and yellow bottom border */
.phead {
  display: flex;
  color: white;
  font-size: 120px;
  justify-content: center;
  border-bottom: solid #efd33b;
  margin: 50px;
  padding-top: 40px;
  
}

/* 'Featured Destinations' Text Inside Boxes */

.podium {
  display: flex;
  color: #fff;
  justify-content: space-around;
}

.text {
  display: flex;
  text-align: left;
  font-size: 40px;
}

.subheadtext {
  border-left: solid white 3px;
  text-align: left;
  padding: 15px;
  font-size: 30px;
}

.subheadtitle {
  font-size: 64px;
  margin: -10px
}

.subhead {
  display: flex;
  color: white;
  font-size: 64px;
  justify-content: center;
}

.text{
  display: flex;
  color: white;
  font-size: 26px;
  text-align: left;
  border-left: white 2px;
  padding: 5px 0px 5px 0px;
}

/* 'Featured Destinations' Inside Boxes */
.infosum {
  width: 31%;
  height: 780px;
  text-align: center;
  border-radius: 12px;
  background-color: #5b3d79;
  padding: 40px;
  box-sizing: border-box;
  border: 12px;
}

.infosum p text {
  border-left: 5px #DADADA;
}

.footer {
  padding: 25px;
  display: flex;
  background-color: #44275d;
  justify-content: space-around;
}
.footerinfotext{
  display: flex;
  color: white;
  font-size: 50px;
  justify-content: center;
}
.footerinfo{
text-align: center;
width:18%;
flex-wrap: wrap;
}
.footerinfo {
  text-align: center;
  width:18%;
  flex-wrap: wrap;
  }
.c{
  display: flex;
  padding: 25px;
}
.copyright {
  text-align: center;
  margin: 25px;
}
.footercontacttext{
  color:white;
  font-size: 20px;
  width: 100%;
}

.leftherocircle {
  width: 600px;
  height: 600px;
  border-radius: 50%;
  display: inline-block;
}

button {
  border-radius: 12px;
  background: #EFD33B;
  color: #44275D;
  transition-duration: 0.4s;
}

button:hover {
  background: #ad9b30;
  color: #2d193f;
}


/* border-radius: 50%; "Makes An Object or image A Circle" */

/* This is a test commit by , Aidan */
